/* line 5, /Users/potato/code/makers/repos/acebook-connectU/app/assets/stylesheets/application.scss */
body {
  background-color: #eeeff4;
  margin: 0 auto;
}

/* line 10, /Users/potato/code/makers/repos/acebook-connectU/app/assets/stylesheets/application.scss */
#sign-out-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1em;
  float: right;
  outline: none;
  height: 40px;
}

/* line 20, /Users/potato/code/makers/repos/acebook-connectU/app/assets/stylesheets/application.scss */
#sign-in-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1em;
  float: right;
  outline: none;
  height: 40px;
}

/* line 30, /Users/potato/code/makers/repos/acebook-connectU/app/assets/stylesheets/application.scss */
#new-post-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2em;
  float: left;
  outline: none;
  height: 40px;
  margin-top: -2px;
  width: 40px;
}

/* line 42, /Users/potato/code/makers/repos/acebook-connectU/app/assets/stylesheets/application.scss */
#view-feed-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2em;
  float: left;
  outline: none;
  height: 40px;
  width: 40px;
  margin-top: -2px;
}

/* line 54, /Users/potato/code/makers/repos/acebook-connectU/app/assets/stylesheets/application.scss */
#page-header {
  background-color: #3b5999;
  height: 40px;
  color: white;
  font-weight: bold;
  text-align: center;
  width: 100%;
  flex-direction: row;
}

/* line 64, /Users/potato/code/makers/repos/acebook-connectU/app/assets/stylesheets/application.scss */
#page-name-container {
  height: 100%;
  font-size: 1em;
  margin-left: 10%;
  float: left;
}

/* line 71, /Users/potato/code/makers/repos/acebook-connectU/app/assets/stylesheets/application.scss */
#page-title {
  height: 100%;
  font-size: 1.5em;
  float: left;
  margin-left: 35%;
}

/* line 78, /Users/potato/code/makers/repos/acebook-connectU/app/assets/stylesheets/application.scss */
#page-name {
  background: none;
  color: white;
  border: none;
  font-size: 1em;
  height: 40px;
  outline: none;
  float: right;
}
