/* line 1, /Users/potato/code/makers/repos/acebook-connectU/app/assets/stylesheets/authentication.scss */
#form-title {
  text-align: center;
}

/* line 5, /Users/potato/code/makers/repos/acebook-connectU/app/assets/stylesheets/authentication.scss */
#clearance {
  width: 20%;
  margin-left: 40%;
}

/* line 10, /Users/potato/code/makers/repos/acebook-connectU/app/assets/stylesheets/authentication.scss */
.text-field {
  text-align: center;
}

/* line 14, /Users/potato/code/makers/repos/acebook-connectU/app/assets/stylesheets/authentication.scss */
.password-field {
  margin-top: 20px;
  text-align: center;
}

/* line 19, /Users/potato/code/makers/repos/acebook-connectU/app/assets/stylesheets/authentication.scss */
#password-input {
  width: 100%;
  height: 20px;
  outline: none;
  margin-top: 5px;
}

/* line 26, /Users/potato/code/makers/repos/acebook-connectU/app/assets/stylesheets/authentication.scss */
#email-input {
  width: 100%;
  height: 20px;
  outline: none;
  text-align: center;
  margin-top: 5px;
}

/* line 34, /Users/potato/code/makers/repos/acebook-connectU/app/assets/stylesheets/authentication.scss */
.submit-field {
  text-align: center;
  margin-top: 30px;
}

/* line 39, /Users/potato/code/makers/repos/acebook-connectU/app/assets/stylesheets/authentication.scss */
.other-links {
  margin-top: 10px;
  width: 100%;
}

/* line 44, /Users/potato/code/makers/repos/acebook-connectU/app/assets/stylesheets/authentication.scss */
#sign-up {
  text-decoration: none;
  color: blue;
  float: left;
}

/* line 50, /Users/potato/code/makers/repos/acebook-connectU/app/assets/stylesheets/authentication.scss */
#new-password {
  text-decoration: none;
  color: blue;
  float: right;
}

/* line 56, /Users/potato/code/makers/repos/acebook-connectU/app/assets/stylesheets/authentication.scss */
#submit-sign-in {
  background: transparent;
  border: none;
  font-size: 1em;
  border: 1px gray solid;
}
